
  <div class="card">
    <div class="card-header">
      materia
    </div>
    <div class="card-body">
        <form>
         

          <div class="row">
            <div class="col-3">
              <div class="form-group">
            
                <label for="exampleInputPassword1">Nome</label>
                <input type="text" [(ngModel)]="materia.nome" [ngModelOptions]="{standalone: true}" class="form-control"  >    
               </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputPassword1">Carga Horas</label>
                <input type="number" [(ngModel)]="materia.cargaHora" [ngModelOptions]="{standalone: true}" class="form-control"  >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="form-group">
             
                <label for="exampleInputPassword1">Nome</label>
                <input type="text" [(ngModel)]="materia.nome" [ngModelOptions]="{standalone: true}" class="form-control"  >
              </div>
            </div>
           
          </div>


            <div class="form-group">
            </div>
           
          </form>
        
    </div>
    <div class="card-footer">
      <button [disabled]="loading" (click)="salvar()" class="btn btn-primary">
        <span *ngIf="loading"  class="spinner-border spinner-border-sm me-1"></span>
        <div *ngIf="materia.id ==0">Salvar materia</div>
        <div *ngIf="materia.id  > 0">Atualizar materia</div> 
        
        
    </button>
        
    </div>
  </div>