
<div class="card">
    <h4 class="card-header">Lista Salas</h4>
    <div class="card-body">
      
        <input class="form-control mt-2 mb-2" type="text" [(ngModel)]="searchText"  (input)="Search()" placeholder="Buscar pelo Nome" /> 
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
          <thead>
            <tr>
            
                <th>Nome</th>
                <th>Editar</th>
              </tr>
          </thead>
          <tbody>
              
                  <tr *ngFor="let group of salas">
                     
                      <td>{{group.numeroSala}} </td>

                      

                      <td><a [routerLink]="['/salaCadastro', group.id]">Editar</a></td>
                  </tr>
          </tbody>        </table>
    </div>



    
</div>
